- rowclass ||= 'editable'
%div{:style => 'display: table; width: 100%; height: 100%'}
  %div{ :style => 'display: table-cell; width: 20px; height: 100%; padding-left:2px; padding-bottom:2px; vertical-align: bottom;', :align => 'left' }
    %input{ :type => 'button', :class => 'DeleteButton', :style => 'cursor: pointer' }

  %div{ :style => 'display: table-cell; height: 100%; vertical-align: middle;'}
    - unless lesson.course.id.nil?
      %div{ :class => 'fixed name', :align => 'center' }
        = lesson.course.name
      %div{ :class => 'fixed prof', :align => 'center' }
        = lesson.course.prof
      %input{ :class => 'lessonid', :type => 'hidden', :value => lesson.course.id }
      - unless lesson.course.part.nil?
        %input{ :class => 'coursepart', :type => 'hidden', :value => lesson.course.part }
    - else 
      %div{ :class => "#{rowclass} name", :align => 'center' }
        = lesson.course.name
      %div{ :class => "#{rowclass} prof", :align => 'center' }
        = lesson.course.prof
    %div{ :class => "#{rowclass} loc", :align => 'center' }
      = lesson.location
  %div{ :style => 'display: table-cell; width: 20px; height: 100%; padding-right:2px; padding-bottom:2px;', :align => 'right' }
