%html
  %head
    %title Расписание #{@course}-го курса СтатМода
    %script{ :src => '/js/redips-drag-min.js' }
    %script{ :src => '/js/redips-table-min.js' }
    %script{ :src => '/js/jquery-1.8.2.min.js'}
    %script{ :src => '/js/jquery.jeditable.mini.js'}
    %script{ :src => '/js/underscore-min.js' }
    %script{ :src => '/js/createNewLesson.js' }
    %script{ :src => '/js/saveToXml.js' }

    %body
    :javascript
      $(document).ready(function () {

        REDIPS.drag.init();
        REDIPS.drag.drop_option = 'single';
        REDIPS.table.mark_nonempty = false;
        REDIPS.table.color.cell = '#FFFFDD';
        REDIPS.table.onmousedown('timetable', true);

        $('.editable').editable(function (value, settings) {
          return(value);
        }, { 
             style: 'display: inline-block', 
             data: function(str) { return $.trim(str); },
             placeholder: ''
           });

        $('#xmlsaveform').submit(function() {
          $('#xmldata').val(getTimeTableXml());
          return true;
        });
      });

    %input{ :id => 'year', :style => 'position: fixed; top: 20px; right: 5px; width: 100px', :value => @timetable.year }
      %label{ :for => 'year', :style => 'position: fixed; top: 20px; right: 115px; width: 100px; text-align: right' }
        Год
    %input{ :id => 'sem', :style => 'position: fixed; top: 50px; right: 5px; width: 100px', :value => @timetable.semester }
      %label{ :for => 'sem', :style => 'position: fixed; top: 50px; right: 115px; width: 100px; text-align: right' }
        Семестр

    %div{ :id => 'links', :style => 'position: fixed; top: 100px; right: 5px' }
      %div
        %a{ :href => '3course' }
          3 курс
      %div
        %a{ :href => '4course' }
          4 курс
      %div
        %a{ :href => '5course' }
          5 курс

    %button{ :style => 'position: fixed; top: 180px; right: 5px; width: 250px', :onclick => 'REDIPS.table.merge();' }
      Merge

    %button{ :style => 'position: fixed; top: 200px; right: 5px; width: 250px', :onclick => 'REDIPS.table.split();' }
      Split

    %button{ :style => 'position: fixed; top: 220px; right: 5px; width: 250px', :onclick => 'createNewLesson();' }
      New


    %div{ :id => 'drag' }
      %table{ :id => 'helpertable', :style => 'position: fixed; top: 250px; width: 250px; right: 5px', :border => '1px' }
        %tbody
          %tr
            %td{ :style => 'height: 64px', :align => 'center', :id => 'newlesson', :class => 'mark'}
              Чтобы создать, нажмите "New"
          %tr
            %td{ :class => 'trash', :align => 'center', :style => 'height: 64px; background-color: #FFDDDD' }
              Чтобы удалить, перетащите сюда

      %form{ :style => 'position: fixed; top: 395px; right: 5px; width: 250px', :action => 'save', :target => '_blank', :method => 'POST', :id => 'xmlsaveform' }
        %input{ :type => 'hidden', :id => 'xmldata', :name => 'xmldata'}
        %input{ :type => 'hidden', :name => 'filename', :value => @filename }
        %input{ :type => 'submit', :style => 'position: fixed; top: 400px; right: 5px; width: 250px', :value => 'Save to XML' }

      - specs = ['sm', 'mm', 'sa']
      - specnames = ['СМ', 'ММ', 'САПР']
      %table{ :id => 'timetable', :width => "80%", :border => 1, :style => 'border-collapse: collapse' }
        %tbody
          %tr
            %th{ :width => '5%', :class => 'mark' }
            - specnames.each do |name|
              %td{ :bgcolor => '#DDDDFF', :align => 'center', :width => '33%', :class => 'mark' }
                = name
          - @timetable.weekday_tables.each do |weekday|
            %tr
              %th{ :class => 'mark' }

              %th{ :colspan => 3, :bgcolor => 'yellow', :class => 'mark' }
                = weekday.name

            - 1.upto(5).each do |index|
              %tr{ :class => weekday.id }
                %th{ :bgcolor => 'greenyellow', :style => 'height: 64px', :class => 'mark' }
                  = index

                - double_class = weekday.getDoubleClass(index)
                - dep_lesson = if double_class.nil? then nil else double_class.getLessonForSpec 'all' end
                - if dep_lesson.nil?
                  - specs.each do |spec|
                    %td{ :class => 'lesson' }
                      - unless double_class.nil?
                        - lesson = double_class.getLessonForSpec(spec)
                        = haml :lesson, :locals => { :lesson => lesson }
                - else
                  %td{ :colspan => 3, :align => 'center', :class => 'lesson' }
                    = haml :lesson, :locals => { :lesson => dep_lesson }
