%html
  %head
    %title Расписание #{@course}-го курса СтатМода
    %script{ :src => '/js/redips-drag-source.js' }
    %script{ :src => '/js/redips-table-source.js' }
    %script{ :src => '/js/jquery-1.8.2.min.js'}
    %script{ :src => '/js/jquery.jeditable.mini.js'}
    %script{ :src => '/js/underscore-min.js' }
    %script{ :src => '/js/createNewLesson.js' }
    %script{ :src => '/js/saveToXml.js' }
    %link(rel="stylesheet" type="text/css" href="/styles/TimeTable.css")


    %body
    :javascript
      $(document).ready(function () {

        REDIPS.drag.init();
        REDIPS.drag.drop_option = 'single';
        REDIPS.table.mark_nonempty = false;
        REDIPS.table.color.cell = '#FFFFDD';
        REDIPS.table.onmousedown('timetable', true);

        $('.editable').editable(function (value, settings) {
          return(value);
        }, { 
             style: 'display: inline-block', 
             data: function(str) { return $.trim(str); },
             placeholder: ''
           });

        $('#xmlsaveform').submit(function() {
          $('#xmldata').val(getTimeTableXml());
          return true;
        });
      });

    %input{ :id => 'year', :class => 'YearSelector', :value => @timetable.year }
      %label{ :for => 'year', :class => 'YearLabel' }
        Год
    %input{ :id => 'sem', :class => 'SemesterSelector', :value => @timetable.semester }
      %label{ :for => 'sem', :class => 'SemesterLabel' }
        Семестр

    %div{ :id => 'links', :class => 'CourseDiv' }
      %div
        %a{ :href => '3course', :class => 'CourseLink' }
          3 курс
      %div
        %a{ :href => '4course', :class => 'CourseLink' }
          4 курс
      %div
        %a{ :href => '5course', :class => 'CourseLink' }
          5 курс

    %button{ :class => 'MergeButton', :onclick => 'REDIPS.table.merge();' }
      Merge

    %button{ :class => 'SplitButton', :onclick => 'REDIPS.table.split();' }
      Split

    /%button{ :class => 'NewButton', :onclick => 'createNewLesson();' }
    /  New


    %div{ :id => 'drag' }
      %table{ :id => 'helpertable', :class => 'HelperTable' }
        %tbody
          %tr
            %td{ :style => 'height: 64px', :align => 'center', :id => 'newlesson', :class => 'mark', :onclick => 'createNewLesson();'}
              Нажмите, чтобы создать новую пару
          %tr
            %td{ :class => 'trash', :align => 'center', :style => 'height: 64px;' }
              Чтобы удалить пару, перетащите её сюда

      %form{ :class => 'SaveForm', :action => 'save', :target => '_blank', :method => 'POST', :id => 'xmlsaveform' }
        %input{ :type => 'hidden', :id => 'xmldata', :name => 'xmldata'}
        %input{ :type => 'hidden', :name => 'filename', :value => @filename }
        %input{ :type => 'submit', :class => 'SaveButton', :value => 'Save to XML' }

      - specs = ['sm', 'mm', 'sa']
      - specnames = ['СМ', 'ММ', 'САПР']
      %table{ :id => 'timetable', :class => 'TimeTable', :border => '1px' }
        %tbody
          %tr
            %th{ :width => '5%', :class => 'mark', :bgcolor => '#fffd73' }
            - specnames.each do |name|
              %td{ :bgcolor => '#DDDDFF', :align => 'center', :width => '33%', :class => 'mark' }
                = name
          - @timetable.weekday_tables.each do |weekday|
            %tr
              %th{ :class => 'mark', :bgcolor => '#fffd73' }

              %th{ :colspan => 3, :bgcolor => '#ffc073', :class => 'mark' }
                = weekday.name

            - 1.upto(5).each do |index|
              %tr{ :class => weekday.id }
                %th{ :bgcolor => '#ffcd00', :style => 'height: 64px', :class => 'mark' }
                  = index

                - double_class = weekday.getDoubleClass(index)
                - dep_lesson = if double_class.nil? then nil else double_class.getLessonForSpec 'all' end
                - if dep_lesson.nil?
                  - specs.each do |spec|
                    %td{ :class => 'lesson' }
                      - unless double_class.nil?
                        - lesson = double_class.getLessonForSpec(spec)
                        = haml :lesson, :locals => { :lesson => lesson }
                - else
                  %td{ :colspan => 3, :align => 'center', :class => 'lesson' }
                    = haml :lesson, :locals => { :lesson => dep_lesson }
