!!!
%html
  %head
    %title Расписание #{@timetable.course.to_s}-го курса СтатМода
    %script{ :src => '/js/redips-drag-min.js' }
    %script{ :src => '/js/redips-table-source.js' }
    %script{ :src => '/js/jquery-1.8.2.min.js'}
    %script{ :src => '/js/jquery.jeditable.mini.js'}
    %script{ :src => '/js/jquery.autocomplete.js'}
    %script{ :src => '/js/underscore-min.js' }
    %script{ :src => '/js/createNewLesson.js' }
    %script{ :src => '/js/get_timetable_json.js' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles/TimeTable.css'}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles/jquery.autocomplete.css'}

    %body
    :javascript

      function mergeTableCells() { 
        REDIPS.table.merge('v', false);
        REDIPS.table.merge();
      }

      function makeEditable(classname) {

        var formStyle = 'display: inline-block; width:100%';
        var inputHeight = '14px';
        var inputWidth = '80%';

        $('.' + classname + '.loc').editable(function (value, settings) {
          return(value);
        }, { 
             style: formStyle,
             data: function(str) { return $.trim(str); },
             height: inputHeight,
             width: inputWidth,
             placeholder: ''
           });

        $('.' + classname + '.prof').editable(function (value, settings) {
          return(value);
        }, { 
             type: 'autocomplete',
             style: formStyle,
             data: function(str) { return $.trim(str); },
             placeholder: '',
             height: inputHeight,
             width: inputWidth,
             autocomplete: {
               data: #{@stafflist_json}
             }
           });

        $('.' + classname + '.name').editable(function (value, settings) {
          return(value);
        }, {
          type: 'autocomplete',
          style: formStyle,
          data: function(str) { return $.trim(str); },
          placeholder: '',
          height: inputHeight,
          width: inputWidth,
          autocomplete: {
            data: courses[$("#sem").attr('value')]
          }
        });
      }

      courses = #{@courselist_json};
      course_ids = #{@courseidlist_json};

      $(document).ready(function () {

        $(".DeleteButton").click(function() {
          $(this).parents(".drag").remove();
        });

        $("#newlesson").one("click", createNewLesson);

        REDIPS.drag.init();
        REDIPS.drag.enableTable(false, 'LessonTable');
        REDIPS.drag.dropMode = 'switch';
        // REDIPS.drag.rowDropMode = 'switch';
        REDIPS.table.mark_nonempty = false;
        REDIPS.table.color.cell = '#AADDAA';
        REDIPS.table.onmousedown('timetablerow', true, 'classname');

        $.editable.addInputType('autocomplete', {
          element: $.editable.types.text.element,
          plugin: function(settings, original) {
            $('input', this).autocomplete(settings.autocomplete.data, { matchContains: true});
          }
        });

        makeEditable('editable');

        function setJsonData() {
          data = { 'timetable': window.getTimeTableJson(),
                   'buffer': $("#stacktable").html() }
          $('.jsondata').val(JSON.stringify(data));
          return true;
        }

        $('#xmldownloadform').submit(setJsonData);
        $('#xmlsaveform').submit(setJsonData);

        $('option').click(function ()
        {
          $(this).closest('form').submit();
        });

        $('#FileSelector').prop('selectedIndex', -1);

        function updateCourseIdentifiers() {
          $('#courseIds').html(course_ids[$("#sem").attr('value')]);
        }

        $('#sem').change(function() {
          updateCourseIdentifiers(); 
        });

        updateCourseIdentifiers();
        $('#courseIds').prop('selectedIndex', -1);
      });

    %div{ :id => 'uppanel'}
      %input{ :id => 'year', :value => @timetable.year }
        %label{ :for => 'year', :id => 'YearLabel' }
          Год:
      %input{ :id => 'sem', :value => @timetable.semester }
        %label{ :for => 'sem', :id => 'SemesterLabel' }
          Семестр:

      %form{ :id => 'fileloadform', :action => '/loadfile', :method => 'post' }
        %input{ :type => 'hidden', :class => 'jsondata', :name => 'jsondata'}
        %select{ :onchange => '$(".jsondata").val(JSON.stringify({"buffer":$("#stacktable").html()})); this.form.submit()', :name => 'filename', :id => 'FileSelector' }
          - @filenames.each do |fn|
            - if fn == @filename
              %option{ :value => fn, :selected => 'selected'}#{fn}
            - else
              %option{ :value => fn}#{fn}
      %div{:id => 'FileLabel' }
        Файл:

      %button{ :id => 'MergeButton', :onclick => 'mergeTableCells();' }
        Объединить ячейки

      %label{ :id => 'SplitButtonsLabel' }
        Разбить ячейки
      %button{ :id => 'SplitButtonH', :onclick => 'REDIPS.table.split("h");' }
        По направлениям
      %button{ :id => 'SplitButtonV', :onclick => 'REDIPS.table.split("v");' }
        По четности недели

      %form{ :id => 'DownloadForm', :action => '/download', :target => '_blank', :method => 'POST', :id => 'xmldownloadform' }
        %input{ :type => 'hidden', :class => 'jsondata', :name => 'jsondata'}
        %input{ :type => 'hidden', :name => 'filename', :value => @filename }
        %input{ :type => 'submit', :id => 'DownloadButton', :value => 'Скачать XML' }
            
      %form{ :id => 'SaveForm', :action => '/save', :method => 'POST', :id => 'xmlsaveform' }
        %input{ :type => 'hidden', :class => 'jsondata', :name => 'jsondata'}
        %input{ :type => 'text', :name => 'filename', :value => @filename, :id => 'SaveFilename' }
        %input{ :type => 'submit', :id => 'SaveButton', :value => 'Сохранить как' }

      %form{ :id => 'NewForm', :action => '/new'}
        %input{ :type => 'submit', :id => 'NewButton', :value => 'Создать новое расписание' }

      %form{ :id => 'NewFromIdForm' }
        %label{ :id => 'courseIdsLabel' }
          Создать пару по идентификатору
        %select{ :onchange => 'createNewLessonFromId()', :id => 'courseIds' }

    %div{ :id => 'drag' }
      %table{ :id => 'helpertable' }
        %tbody
          %tr
            %td{ :style => 'height: 62px', :align => 'center', :id => 'newlesson', :class => 'mark'}
              Нажмите, чтобы создать новую пару

      %div{ :id => 'StackTableDiv' }
        %table{ :id => 'stacktable', :border => '1px' }
          - unless @buffer.nil?
            = @buffer
          - else
            %tbody
              - 12.times do
                %tr
                  %td{ :style => 'height: 64px', :align => 'center' }

      %div{ :class => 'empty'}
      %table{ :class => 'timetablerow', :border => '1px' }
        %tbody
          %tr
            %th{ :width => '2%', :class => 'mark', :bgcolor => '#d8bfd8' }
            - @specnames.each do |name|
              %td{ :bgcolor => '#d8bfd8', :align => 'center', :class => 'mark' }
                %b
                  = name
      - @timetable.weekday_tables.each do |weekday|
        = haml :weekday, :locals => { :weekday => weekday }
